# Core modules (mandatory)
jupyterlite-core==0.1.0
jupyterlab~=3.5.1

# Language support (optional)
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-zh-CN

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.0.6

# JupyterLab: dark theme
jupyterlab-night

# Python: interative Matplotlib library for Jupyter notebooks (optional)
ipympl>=0.8.2

matplotlib==3.5.3
numpy
Pillow==9.5.0
protobuf==4.23.1
tensorflow==2.12.0

